@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  display: flex;
  justify-content: center;
}
@media (min-width: 1460px) {
  body {
    height: 100vh;
    align-items: center;
  }
}
.container {
  width: 375px;
  height: 800px;
  display: flex;
  background-image: linear-gradient(135deg, #fff, #fff5f5);
  box-shadow: 0 5px 15px 0 rgba(65,58,58,0.4);
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .left-side {
    background-image: url("./images/bg-pattern-desktop.svg");
    flex: 1;
  }
}
header {
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  header {
    width: 450px;
    margin-top: 4rem;
  }
}
header > img {
  margin-left: 2rem;
  height: 21px;
}
@media (min-width: 1024px) {
  header > img {
    margin-left: 0;
    height: auto;
  }
}
header .hero-mobile {
  margin-top: 2rem;
}
main {
  margin-top: 4rem;
  padding: 0 2rem;
}
@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 450px;
    padding: 0;
    margin: 0 auto;
  }
}
main h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 300;
  color: #ce9797;
}
@media (min-width: 1024px) {
  main h1 {
    text-align: left;
    font-size: 64px;
  }
}
main h1 span {
  display: block;
  font-weight: 600;
  color: #413a3a;
  line-height: 1.1em;
}
main p {
  margin-top: 1.5rem;
  color: #ce9797;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  letter-spacing: 0.02em;
}
@media (min-width: 1024px) {
  main p {
    text-align: left;
    font-size: 16px;
    line-height: 1.8em;
  }
}
form {
  margin-top: 2rem;
  width: 100%;
}
form div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(206,151,151,0.7);
  border-top: 1px solid rgba(206,151,151,0.7);
  border-bottom: 1px solid rgba(206,151,151,0.7);
  border-radius: 2rem 0 0 2rem;
  position: relative;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
form div input {
  font-size: 16px;
  padding: 0.7rem 0 0.7rem 1rem;
  border: none;
  width: 100%;
  background-color: transparent;
  color: #413a3a;
}
form div input::-webkit-input-placeholder {
  color: #ce9797;
  opacity: 60%;
}
form div input:focus {
  outline: none;
}
@media (min-width: 1024px) {
  form div input {
    padding: 1.1rem 0 1.1rem 1.5rem;
  }
}
form div span {
  margin-right: 2rem;
}
form div span[x-cloak] {
  display: none !important;
}
@media (min-width: 1024px) {
  form div span {
    margin-right: 4rem;
  }
}
form div button {
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: none;
  cursor: pointer;
  position: absolute;
  right: -40px;
  box-shadow: 3px 6px 20px -3px #ce9797;
}
form div button:hover {
  background-color: #ce9797;
  background-blend-mode: screen;
}
@media (min-width: 1024px) {
  form div button {
    padding: 1rem 2.7rem;
    right: -54px;
  }
}
form > span {
  margin-left: 1.5rem;
  color: #f96262;
  font-size: 15px;
}
.hero-mobile {
  display: block;
}
@media (min-width: 1024px) {
  .hero-mobile {
    display: none;
  }
}
aside {
  display: none;
}
@media (min-width: 1024px) {
  aside {
    display: block;
    width: 50%;
  }
}
@media (min-width: 1440px) {
  aside {
    width: 610px;
  }
}
aside .hero-desktop {
  max-height: 800px;
}
.border-red {
  border-left: 2px solid #f96262;
  border-top: 2px solid #f96262;
  border-bottom: 2px solid #f96262;
  border-right: none;
}
